.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 50px;
  color: white;
}
ul {
  list-style: none;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.1);
  display: block;
  max-width: 400px;

}
li {
  padding: 20px;
  display: block;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  text-align:  left;
}
.App-link {
  color: #61dafb;
}
.contactForm {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.1);
  display: block;
  max-width: 400px;
}
.formTitle {
  padding: 0 10px;
  margin-bottom:  30px;
  display:  block;
}
.contactForm .formItem {
  display: block;
  position:  relative;
  margin-bottom: 20px;
  z-index:  1;
}
.contactForm .formItem label {
  display: inline-block;
  position:  relative;
  margin-bottom: 10px;
  width: auto;
  position: absolute;
  left: 10px;
  font-size: 14px;
  z-index:  10;
  color:  #222;
  opacity: .6;
  text-transform: uppercase;
  line-height: 1px;
  text-align: left;
  transition: all .2s;
  background: #fff;
  padding: 0 5px;
  top:  0;
  transform: translateY(0);
  font-size:  12px;
  opacity: 1;
}
.contactForm .formItem input, .contactForm .formItem select{
  display: block;
  position:  relative;
  line-height: 20px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
}
.contactForm .formItem textarea{
  display: block;
  position:  relative;
  line-height: 20px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
}
.contactForm .formItem input:focus{
  outline-width: 0px;
  border: 1px solid #9b59b6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
